<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet1"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="/camera/color/camera_info" to="/camera/depth/camera_info"/>
    <remap from="/camera/depth/image_raw" to="/camera/depth/image_rect_raw"/>
    <!-- <remap from="points" to="/camera/depth/points"/> -->
  </node>

  <node pkg="nodelet" type="nodelet" name="pcl_node"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    </node>
</launch>